<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <script src="/jquery-1.11.3/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="top">
    <ul>
        <li>电影评论网站</li>
        <li class="menus">读书</li>
        <li class="menus">电影</li>
        <li class="menus">音乐</li>
        <li class="menus">阅读</li>
        <li class="menus">小组</li>
        <li class="admin_login"><a href="toAdminLogin">管理员登录</a></li>
        <li class="register"><a href="userRegister">注册</a></li>
        <li class="login"><a href="login">登录</a></li>

    </ul>
</div>
<div id="nav_top">
    <div id="nav_body">
        <li class="film">豆瓣电影</li>
        <form class="search">
            <div class="search_form">
                <input id="search" type="text" name="search" placeholder="请输入电影名称"/>
                <input type="submit" id="search_button" value=""/>
            </div>
        </form>
    </div>
</div>
<div class="big_box">
    <div class="nav_secondary">
        <ul>
            <li>腾讯</li>
            <li>选电影</li>
            <li>电视剧</li>
            <li>排行榜</li>
            <li>分类</li>
            <li>影评</li>
            <li>2021年度榜单</li>
            <li>2020年度榜单</li>
        </ul>
    </div>
</div>
<div class="main_box">
    <div class="main_left">
        <div class="left_top">
            <h2>正在热映</h2>
            <hr>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/jgl.jpg"></a></li>
            </ul>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/zk.jpg"></a> </li>
            </ul>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/yxwm.jpg"> </a> </li>
            </ul>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/tui.jpg"> </a> </li>
            </ul>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/xcs.jpg"> </a> </li>
            </ul>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/nzcs.jpg"> </a> </li>
            </ul>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/qtj.jpg"> </a> </li>
            </ul>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/ssl.jpg"> </a> </li>
            </ul>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/st.jpg"> </a> </li>
            </ul>
        </div>
        <div class="main_films">
            <ul>
                <li><a href=""><img src="images/wyzd.jpg"> </a> </li>
            </ul>
        </div>
    </div>
    <div class="main_right">
        <div class="right_top">
            <h3>电影排行榜2021</h3>
        </div>
        <div class="leader_board">
            <span><a href="">按评分</a></span><span>/</span> <span><a href="">按年份</a> </span>
        </div>
    </div>
</div>
</body>
</html>